ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
} 
.about-link{
    color: aliceblue;
    padding-left: 500px;
}
.home-link{
    color: aliceblue;
    padding-right: 500px;
}
ul li a{
    text-decoration: none;
}
footer{
    display: ruby-base-container;
}
.img{
    height: 800px;
    width: 500px;
    }
.Image-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
